
.svg-turkiye-haritasi {
  top:10px;
  height:1100px;
  width:1000px;

  /*margin-inline: 286px; */
  text-align: center;
}
.svg-turkiye-haritasi svg {
  width: 1000px;
  height: 1100px;
}
.il-isimleri {
  position: absolute;
  z-index: 2;
}
.il-isimleri div {
  font-family: 'Open Sans';
  display: inline-block;
  background: #dc143c;
  color: white;
  padding: 8px 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#svg-turkiye-haritasi path {
  cursor: pointer;
  fill: #fbd0d9;
}
#svg-turkiye-haritasi path:hover {
  fill:#dc143c;
}
